body {
  background: #2980b9;
  background: -webkit-linear-gradient(to left, #2c3e50, #2980b9);
  background: linear-gradient(to left, #2c3e50, #2980b9);
}

.responsive {
  max-width: 75%;
  height: auto;
}

img {
  padding: 15px;
}

.diplayBox {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-box {
  overflow-y: auto;
  height: 500px;
  float: left;
  padding: 1rem;
}
